:root {
  --clr-p-dark-purple: #24053e;
  --clr-p-ligth-green: #44ffa1;
  --clr-n-grey: #584d62;
  --clr-n-off-white: #fcf8ff;
  --clr-n-white: #fff;

  --ff-base: "Manrope", sans-serif;
  --ff-headings: "Fraunces", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: var(--ff-base);
  color: var(--clr-n-white);
  font-size: 1.8rem;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: var(--clr-n-white);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.header-hero {
  background-image: url(/images/bg-pattern-1.svg), url(/images/bg-pattern-2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -13% 25%, 105% 60%;
  padding: 4rem 0rem 32.3rem;
  position: relative;
}

.header-hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-p-dark-purple);
  border-radius: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) scale(4);
  z-index: -1;
}

.btn {
  background-color: var(--clr-p-ligth-green);
  color: var(--clr-p-dark-purple);
  font-weight: 600;
  padding: 1.7rem 3.25rem;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--clr-p-ligth-green);
  text-decoration-thickness: 2.5px;
  text-underline-offset: 8px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.header__nav__btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--clr-n-white);
  font-weight: 600;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  width: 60rem;
  font-family: var(--ff-headings);
  font-size: 8rem;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  margin-bottom: 4rem;
}

.hero__img {
  width: 76.7rem;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 30rem auto;
}
